<%= search_form_for [:admin, @search], remote: true, method: :get do |f| %>
  <div class="input-group input-group-lg">
    <div class="form-group has-feedback has-clear input-group-lg">
      <%= f.text_field :name_or_description_cont, class: "form-control",
        placeholder: t(".input_keyword"), id: "searchinput" %>
      <span id="searchclear" class="form-control-clear glyphicon
        glyphicon-remove-circle form-control-feedback"></span>
    </div>
    <span class="input-group-btn">
      <%= f.submit  t(".search"), class: "btn btn-primary" %>
    </span>
  </div>
  <div class="apple-pagination">
    <%= paginate @combos, remote: true %>
  </div>
  <table class="default-dg-table">
    <tbody>
      <tr class="dg_tr" style="" id="di_row_">
        <th class="default_dg_th dg-left dg-nowrap dg1">
          <%= sort_link @search, :id, t(".order"), {}, {remote: true, method: :get} %>
        </th>
        <th class="default_dg_th dg-center dg-nowrap dg2" colspan="2">
          <%= sort_link @search, :name, t(".name"), {}, {remote: true, method: :get} %>
        </th>
        <th class="default_dg_th dg-center dg-nowrap dg3">
          <%= sort_link @search, :discount, t(".discount"), {}, {remote: true, method: :get} %>
        </th>
        <th class="default_dg_th dg-center dg-nowrap dg4" colspan="3">
          <%= t "Opition" %>
        </th>
      </tr>
        <% if @combos.any? %>
          <% @combos.each do |combo| %>
            <tr class="dg_tr" id="di_row_0">
              <td class="default_dg_td dg-left dg-nowrap dg1"><%= combo.id %></td>
              <td class="default_dg_td dg-left dg-nowrap img">
                <%= image_tag combo.image,
                  onerror: "this.src='https://t4.ftcdn.net/jpg/01/07/86/19/500_F_107861953_YZ800J1eDVtaEVAMXj1KRpez6efJpm7D.jpg';" %>
              </td>
              <td class="default_dg_td dg-left dg-nowrap dg2">
                <%= combo.name %>
              </td>
              <td class="default_dg_td dg-center dg-nowrap dg3">
                <%= combo.discount %><i class="fa fa-percent"></i>
              </td>
              <td class="default_dg_td dg-center dg-nowrap">
                <%= link_to t("button.view"),
                  admin_combo_path(combo) %>
              </td>
              <td class="default_dg_td dg-center dg-nowrap">
                <%= link_to t("button.edit"),
                  edit_admin_combo_path(combo) %>
              </td>
              <td class="default_dg_td dg-center dg-nowrap img">
                <%= link_to image_tag("http://icons.iconarchive.com/icons/saki/nuoveXT/128/Actions-button-cancel-icon.png"), admin_combo_path(combo),
                  method: :delete, data: {confirm: t("button.delete_warning")} %>
              </td>
            </tr>
          <% end %>
        <% end %>
    </tbody>
  </table>
  <br>
<% end %>
