<%= search_form_for [:admin, @combo, @s], remote: true, method: :get do |f| %>
    <tr class="dg_tr" style="" id="di_row_">
      <th class="default_dg_th dg-center dg-nowrap">
        <%= sort_link @s, :id, t(".no"), {}, {remote: true, method: :get} %>
      </th>
      <th class="default_dg_th dg-left dg-nowrap" colspan="2"><%= t ".dish" %></th>
      <th class="default_dg_th dg-center dg-nowrap">
        <%= t ".category" %>
      </th>
      <th class="default_dg_th dg-center dg-nowrap">
        <%= t ".opition" %>
      </th>
    </tr>
<% end %>
<% @combo.dishes.each do |f| %>
    <tr class="dg_tr" id="di_row_0">
      <td class="default_dg_td dg-center dg-nowrap">
        <%= f.id %>
      </td>
      <td class="default_dg_td dg-left dg-nowrap" colspan="2">
        <%= link_to f.name, admin_dish_path(f) %>
      </td>
      <td class="default_dg_td dg-center dg-nowrap">
        <% Category.all.each do |category| %>
          <% if f.categories.include? category %>
            <% if category != f.categories.last %>
              <%= link_to category.name, admin_category_path(category) %>,
            <% else %>
              <%= link_to category.name, admin_category_path(category) %>
            <% end %>
          <% end %>
        <% end %>
      </td>
      <td class="default_dg_td dg-center dg-nowrap">
        <%= link_to t("button.delete"),
                    admin_combo_dish_path(@combo.id, f.id),
                    method: :delete, data: {confirm: t("button.delete_warning")} %>
      </td>
    </tr>
<% end %>
