<section class= "section">
  <br><br><br>
  <% if current_order.id != nil %>
    <p> Ma don dat hang cua ban la:</p>
      <%= current_order.table.id%>
    <% if current_order.table != nil %>
      <p> Ban da dat ban so</p>
      <%= current_order.table.id%>
      <p>Vao ngay</p>
      <%= current_order.date%>
      <p>Tu luc</p>
      <%= current_order.time_in%>
      <p>Den</p>
      <%= current_order.time_out%>
      <%= form_for :order, url: order_path, method: :GET do |f| %>
        <%= f.submit "Create new order", class: "btn btn-primary log-btn" %>
      <% end %>
      <% if current_order.isConfirm == true %>
        <p> Don dat hang da duoc xac nhan!</p>
      <% else%>
        <p> Hay doi chung toi lien he de xac nhan dat hang.</p>
      <% end%>
    <% else %>
      <p></p>
      <%= link_to "Hay dat ban de hoan tat dat mon an.", tables_path%>
    <% end %>
  <% end%>
  <div class="wrapper main-content">
    <div class="shopping-cart">
      <%= render "ordering_cart" %>
    </div>
     <div class="shopping-cart">
      <%= render "ordering_cart" %>
    </div>
  </div>
</section>
