<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="col-sm-12">
  <% flash.each do |key, value| %>
      <div class="flash-message <%= key %>">
        <%= value %>
      </div>
  <% end %>
  <br>
  <div class="search-form">
    <%= search_form_for @search, remote: true do |f| %>
      <div class="col-sm-10 col-sm-offset-1">
        <%= f.text_field :name_or_description_cont,
                         class:"pj-form-field pj-form-field-search w350 w200",
                         placeholder:t(".input_keyword") %>
        <br><br>
        <%= t ".sort" %>
        <%= sort_link @search, :name, {}, {remote: true, method: :get} %>
        <%= sort_link @search, :price, {}, {remote: true, method: :get} %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= t ".check" %>
        <%= f.select :isAvailable_true, [[t(".available"), 1]],
                     {include_blank: t(".all"),
                      selected: params[:q] ? params[:q][:isAvailable_true] : ''},
                      class: "btn btn-default" %>
        <br>
        <div class="w350" style="width:40%">
          <%= f.label :price, class: "date" %>
          <%= f.select :price_between, [["1 to 20"], ["21 to 30"], ["30 to #{@dishes.maximum("price")}"]],
                       {include_blank: t(".all"),
                        selected: params[:q] ? params[:q][:price_between] : ''},
                        class:"btn btn-default range" %>
          <p style="display: inline-block;margin-top: 10px;padding: 0 5px 0 10px">or exactly:</p>
        </div>
        <div class="w350" style="width:30%">
          <p style="display: inline-block; width:100%">
            <%= f.label :from, class: "date" %>
            <%= f.number_field :price_gteq, class: "pj-form-field w150", placeholder: "Minumum" %>
          </p>
          <p>
            <label class="title">&nbsp;</label>
            <%= f.submit  t(".search"), class:"pj-button" %>
            <%= link_to "Cancel", {remote: true}, class:"pj-button", id:"clear" %>
          </p>
        </div>
        <div class="w350" style="width:30%">
          <p style="display: inline-block; width:100%">
            <%= f.label :to, class: "date" %>
            <%= f.number_field :price_lteq, class: "pj-form-field w150", placeholder: "Maximum" %>
          </p>
        </div>
      </div>
      <br>
      <div class="col-sm-12">
        <ul class="menu uk-subnav uk-flex-center">
          <li><%= link_to t(".all"), {q: nil, remote: true} %></li>
          <% @categories.each do |cate| %>
              <li>
                <%= link_to cate.name, {q: {categories_id_eq: cate.id}, remote: true} %>
              </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-sm-12">
      <div id="pagination" class="apple-pagination">
        <%= paginate @dishes, remote: true %>
      </div>
      <div id="counter" class="pagination_count text-center counter">
        <%= page_entries_info @dishes, remote: true %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="col-sm-12" id="1">
  <% @dishes.each do |dish| %>
      <div class="items col-xs-12 col-sm-4">
        <div class="item-inner">
          <div class="item">
            <%= image_tag dish.image, class: "img-responsive",
                          onerror: "this.src='https://getawayoutdoors.com.au/UploadFiles/noimage.jpg';" %>
            <div class="overlay"></div>
            <div class="button"><%= link_to t(".view"), dish_path(dish) %></div>
          </div>
          <h4><%= link_to dish.name, dish_path(dish) %></h4>
          <h2><i class="fa fa-usd"></i><%= dish.price %></h2>
          <br>
        </div>
      </div>
  <% end %>
</div>
<style>
  .date {
    width: 20%;
    margin-right: 10px;
    padding-top: 10px;
  }

  .w200 {
    width: 100%;
  }

  .w150 {
    display: inline-block;
    width: 70%;
    margin-top: 5px;
  }

  .btn-default {
    font-size: 16px !important;
    width: 20%;
  }

  .range {
    width: 40%;
  }
</style>
